body,
html {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    grid-template: 1fr 6fr / 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
        "sidebar main";
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(25,146,212);
    width: 21.1vw;
    color: white;
    display: grid;
    grid-template-rows: 1fr 4fr 3fr ;
    grid-template-areas: 
        "dashboard"
        "directory"
        "additional";
    
}

.header {
    grid-area: header;
    display: grid;
    height: 26vh;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "searchbar notify"
        "about post";
    box-shadow: 0px 10px 10px 5px rgba(128, 128, 128, 0.542);
    margin-bottom: 3px;
}

.main {
    grid-area: main;
    background-color: rgb(226,232,240);
}

ul {
    list-style: none;
    padding-left: 0%;
}

li {
    display: flex;
    gap: 5px;
}

li svg {
    padding-top: 5px;
}

.dashboard {
    grid-area: dashboard;
    margin: 0;
}

.dashboard li {
    font-size: 5vh;

}

.dashboard li svg {
    font-size: .8vw;
}

.dashboard li img {
    height: 50px;
    
}
.directory {
    margin: 0;
}

 .directory li, .additional li  {
    font-size: 3.5vh;
    margin-bottom: 3vh;

 }

.additional {
    grid-area: additional;
}


.searchbar {
    grid-area: searchbar;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 22px;
    margin-left: 3vw;
    margin-bottom: .9vh;
}
 .searchbar img {
    height: 32px;
 }

input {
    width: 41.9vw;
    height: 4.3vh;
    border-radius: 25px;
    background-color: rgb(226,232,240);
    border: none;
    outline: none;
}

.notify {
    grid-area: notify;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    margin-left: 2.1em;
    margin-bottom: 0.9em;
    margin-right: 1rem;
}

.notify img {
    height: 4.1em;
    width: 4.1em;
    border-radius: 50px;
}

.notify h4 {
    font-size: 1.5em;
}

.about {
    grid-area: about;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 3.2vw;
    padding-bottom: 1.1em;
}
 
.about img {
    height: 6em;
    width: 6em;
    border-radius: 100px;
}
.about p{
    margin-bottom: 0;
    font-weight: bolder;
    font-size: large;
}

.about div h3 {
    font-size: 2.2em;
    margin-top: 0;
    margin-bottom: 8px;
}

.post {
    grid-area: post;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-right: 3em;
    margin-bottom: 0.8em;
    margin-right: 1.05rem;
}

a {
    background-color: rgb(25,146,212);
    width: 6.4em;
    height: 2.1em;
    text-align: center;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0 auto;
    padding-top: .5em;

}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "project project project announcements"
        "project project project announcements"
        "project project project announcements"
        "project project project trending"
        "project project project trending"
        "project project project trending";
    gap:10px;
    padding-top: 5vh;
}

.project {
    grid-area: project;
}

.project div {
    display: grid;
    grid-template: repeat(3, 30vh) / 1fr 1fr;
    gap: 5px;
}

.card {
    background-color: white;
    width: 25em;
    height: 15em;
}
.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}