* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: 1fr repeat(4, 2fr) / 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
        "sidebar main"
        "sidebar main"
        "sidebar main"
        ;
    height: 100vh;
    font-family: Roboto ,Helvetica, sans-serif;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(25,146,212);
    height: 132.2vh;
    width: 21.1vw;
    color: white;
    display: flex;
    flex-direction: column;    
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "searchbar notify"
        "about post";
    box-shadow: 0px 10px 10px 5px rgba(128, 128, 128, 0.542);
    margin-bottom: 3px;
}




ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
    padding-left: 20px;
    padding-top: 10px;
}

li {
    display: flex;
    gap: 5px;
    font-weight: 650;
    padding-left: 10px;
}

li svg {
    padding-top: 5px;
}

.dashboard {
    grid-area: dashboard;
}

.dashboard li {
    font-size: 2.1rem;
    align-items: center;
}

.dashboard li svg {
    font-size: .5em;
}


 .directory li, .additional li  {
    font-size: 1.8em;
    margin-bottom: 3vh;

 }

.additional {
    grid-area: additional;
}


.searchbar {
    grid-area: searchbar;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 22px;
    margin-left: 3vw;
    margin-bottom: .9vh;
}
 .searchbar img {
    height: 32px;
 }

input {
    width: 41.9vw;
    height: 4.3vh;
    border-radius: 25px;
    background-color: rgb(226,232,240);
    border: none;
    outline: none;
}

.notify {
    grid-area: notify;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    margin-left: 2.1em;
    margin-bottom: 0.9em;
    margin-right: 1rem;
}

.notify img {
    height: 4.1em;
    width: 4.1em;
    border-radius: 50px;
}

.notify h4 {
    font-size: 1.5em;
}

.about {
    grid-area: about;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 3.2vw;
    padding-bottom: 1.1em;
}
 
.about img {
    height: 6em;
    width: 6em;
    border-radius: 100px;
}
.about p{
    margin-bottom: 0;
    font-weight: bolder;
    font-size: large;
}

.about div h3 {
    font-size: 2.2em;
    margin-top: 0;
    margin-bottom: 8px;
}

.post {
    grid-area: post;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-right: 3em;
    margin-bottom: 0.8em;
    margin-right: 1.05rem;
}

a {
    background-color: rgb(25,146,212);
    width: 6.4em;
    height: 2.1em;
    text-align: center;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0 auto;
    padding-top: .5em;

}

.main {
    grid-area: main;
    background-color: rgb(226,232,240);
    height:fit-content;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(2, 33em) 20em;
    grid-template-areas: 
        "project project announcements"
        "project project announcements"
        "project project announcements"
        "project project trending"
        "project project trending"
        "project project trending";
    padding-top: 3em;
}

.project {
    grid-area: project;
    padding-left: 25px;
}

 h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.menu{
    display: grid;
    grid-template: repeat(3, 30vh) / repeat(2, 30em);
    gap: 35px;
    height: 100vh;
    margin-top: 20px;
}

.card {
    background-color: white;
    border-left: .7em solid rgb(240,180,41);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.342);
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    }

.card h4 {
    font-size: 1.5em;
    margin: 0;
    padding-top: 40px;
    
}

.card p {
    font-size: 1.4em;
    color: rgb(140,140,140);
    margin: 0;
    height: 7em;
}


.announcements {
    grid-area: announcements;
}

.notes {
    background-color: white;
    height: 24em;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 23em;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.342);
    display: grid;
    grid-template-rows: repeat(3, 1fr) ;
    justify-content: left;
}

.notes .one, .notes .two {
    margin-left: 2.5em;
    border-bottom: .5px solid gray;
    padding-bottom: 2em;
    padding-top: 1em;
}

.notes .three {
    margin-left: 2.5em;
    padding-bottom: 2em;
    padding-top: 1em;
} 


.notes h3 {
    font-size: large;
    
}


.tags {
    background-color: white;
    height: 25em;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 23em;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.342);
    display: grid;
    grid-template-rows: repeat(4, 1fr) ;
    justify-content: left;
}

.hash {
    width: fit-content;
    display: flex;
    gap: 10px;
    margin-left: 2.5em;
    padding-bottom: 2em;
    padding-top: 1em;
}

.trending {
    padding-top: 20px;
    grid-area: trending;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 30px;
    padding-right: 2em;
}

.hash img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.hash h5 {
    font-size: large;
    font-weight: 500;
    padding-bottom: 10px;
}

.item p, .hash p {
    color: rgb(140,140,140);
}

